.headerBox{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    border-bottom: 1px solid;
    margin: 1%;
}

.pageTwo{
    display: grid;

}
.parser{
    border-radius: 50%;
    border:10px solid rgb(1, 167, 1);
    padding: 10px;
    margin: 10px;

}
.startStop{
    border-radius: 30px;
    background: #ff5656;
    cursor: pointer;
    padding: 10px;
    border: 0;
}
.startBox{
    max-width: 410px;
    display: flex;
    justify-content: end;
    margin-left: auto;
    
    gap: 10px;

}
.categoriesBox{
 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: start;
    max-width: 410px;
    border-left: 1px solid;
    height: 30px;
    margin-top: auto;
}
.categoriesDiv{
    border-top: 1px solid;
    border-right: 1px solid;
    height: 30px;
    width: auto;
}

.statistics{
    margin: 10px;
}
.categories{
    margin: 5px ;
    text-align:center;
 
}
.procentsBox{
   
    max-width: 410px;
    display: flex;
    justify-content: end;
    margin-left: auto;
    gap: 30px;
}
.mainBox{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}
.folderStatistic{
    
    border: 1px solid;
    margin: 40px;
    width: 600px;
    height: 700px;

}
.folders{
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
border-bottom: 1px solid;
}
h4{ margin: 3px;
    white-space: nowrap;
    text-align: center;
}
.adminBox{
    display: grid;
    margin: 40px;
    width: 600px;
    height: 700px;
    gap: 20px;
}
.adminInfo{
    display: grid;
    grid-template-columns: 1fr 2fr;
}
p{ margin: 3px;
    white-space: nowrap;
    text-align: start;
}
.channelStatistic{
    border: 1px solid;
    height: 400px;
    width: 500px;

}
.onOff{
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-bottom: 1px solid;
    
}

@media screen and (max-width: 1700px){

    .mainBox{
        grid-template-columns: 1fr;
       }


    .procentsBox{
        max-width: unset;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: unset;
    }
}

@media screen and (max-width: 900px){
  
  
    .headerBox{
        grid-template-columns: 1fr;
        gap: 10px;
    }
    .categoriesBox{
        max-width: unset;
    }
    .procentsBox{
        width: 100% ;
    }
    .startBox{
        width: 100%;
        max-width: unset;
    }
}

@media screen and (max-width: 700px){
    .diagrams-box{
        grid-template-columns: 1fr;
    }
    .diagrams-box div{
        display: grid;
        justify-content: center;
    }
    .folderStatistic{
        width: unset;
        margin: 5px;
    }
    .adminBox{
        width: unset;
        margin: 5px;
    }
    .folders{
        overflow-x: scroll;
        width: unset;
    }
    h4{
        white-space: wrap
    }
    .channelStatistic{
        width: unset;
    }
}

@media screen and (max-width: 400px) {
    .categoriesBox{
        grid-template-columns: 1fr;
        height: unset;
    }
    .categoriesDiv:last-child{
        border-bottom: 1px solid;
    }

    .startBox{
        display: grid;
        justify-content: center;
    }
    .startStop{
        width: 260px;
        height: 40px;
    }
    .adminBox{
        margin: 1px;
    }
    .statistics{
        margin: 1px;
    }
}