.headerBox{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    border-bottom: 1px solid;
    margin: 1%;
}

.pageThree{
    display: grid;

}
.parser{
    border-radius: 50%;
    border:10px solid rgb(1, 167, 1);
    padding: 10px;
    margin: 10px;

}
.startStop{
    border-radius: 30px;
    background: #f33333;
    cursor: pointer;
    margin: 22px;
}
.startBox{
    max-width: 410px;
    display: flex;
    justify-content: end;
    margin-left: auto;
    
    gap: 10px;

}
.categoriesBox{
 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: start;
    max-width: 410px;
    border-left: 1px solid;
    height: 30px;
    margin-top: auto;
}
.categoriesDiv{
    border-top: 1px solid;
    border-right: 1px solid;
    height: 30px;
    width: auto;
}

.statistics{
    margin: 10px;
}
.categories{
    margin: 5px ;
    text-align:center;
 
}
.procentsBox{
   
    max-width: 410px;
    display: flex;
    justify-content: end;
    margin-left: auto;
    gap: 30px;
}
.mainBox{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}
.SettingsDiv{
    display: grid;
    gap: 80px;
    margin: 50px;
}
.dictionary{
    display: grid;
    gap: 10px;
    border: 1px solid;
    height: auto;
    max-width: 300px;
}
p{ margin: 10px;
    white-space: nowrap;
    text-align: start;
}
h3{
    margin: 5px;
    text-align: center;
}
.settings{
    display: grid;
    gap: 10px;
    border: 1px solid;

}
.settingsDiv{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 10px;
}
.startFile{
    display: grid;
    border: 1px solid;
    max-height: 600px;
    max-width: 400px;
    margin: 50px;
}
h4{ margin: 3px;
    white-space: nowrap;
    text-align: center;
}