<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page One</title>
    <link rel="stylesheet" href="{{ url_for('static', path='css/PageOneStyle.css') }}">
    
</head>
<body>
<div class="pageOne">
    <div class="headerBox">
        <div class="logoBox">

        </div>
        <div class="startBox">
            {% if data.parsers_info.parser.status == 'stopped' %}
            <button class="startStop" onclick="window.location.href='/start_or_stop_parser'">
                <h4 class="ss">Start / Stop Parser</h4>
            </button>
            {% else %}
            <button class="startStop" style="background-color: #51ce51;" onclick="window.location.href='/start_or_stop_parser'">
                <h4 class="ss">Start / Stop Parser</h4>
            </button>
            {% endif %}
            
            {% if data.parsers_info.packager.status == 'stopped' %}
            <button class="startStop"onclick="window.location.href='/start_or_stop_packager'">
                <h4 class="ss">Start / Stop Packager</h4>
            </button>
            {% else %}
            <button class="startStop" style="background-color: #51ce51;" onclick="window.location.href='/start_or_stop_packager'">
                <h4 class="ss">Start / Stop Packager</h4>
            </button>
            {% endif %}
            <button class="startStop" style="background-color: yellow;" onclick="window.location.href='/restart_packager_and_parser'">
                <h4 class="ss"  >Restart</h4>
            </button>
        </div>
        <div class="categoriesBox">
            <div class="categoriesDiv" onclick="window.location.href = '/'" style="background-color: #80808fff;"> 
                <h4 class="categories" style="color: #fff;">Статистика</h4> 
            </div>
            <div class="categoriesDiv" onclick="window.location.href = '/folders_and_channels'" > 
                <h4 class="categories">Папки и Каналы</h4> 
            </div>
            <div class="categoriesDiv" onclick="window.location.href = '/settings'"> 
                <h4 class="categories">Настройки</h4> 
            </div>
        </div>
        <div class="procentsBox">
            {% if data.parsers_info.parser.status == 'stopped' %}
            <h4 class="statistics">Parser Stopped</h4> 
            {% else %}
            <h4 class="statistics">Parser RUN - {{ data.parsers_info.parser.last_changed }}</h4> 
            {% endif %}

            {% if data.parsers_info.packager.status == 'stopped' %}
            <h4 class="statistics">Packager Packager</h4> 
            {% else %}
            <h4 class="statistics">Packager RUN - {{ data.parsers_info.packager.last_changed }}</h4> 
            {% endif %}

            <h4 class="statistics">CP - {{ data.get_system_usage.memory_usage_percent }}%</h4> 
            <h4 class="statistics">RAM - {{ data.get_system_usage.cpu_usage_percent }}%</h4> 
        </div>
    </div>
    <div class="mainBox">
        <div class="mainDiv">
            <div class="period-box">
                <p>Выбор периода</p>
                <select name="period" onchange="getPeriod(this)" id="">
                    <option {% if data.period == '' %}selected{% endif %} value="">24 ч</option>
                    <option {% if data.period == '1w' %}selected{% endif %} value="1w">неделя</option>
                    <option {% if data.period == '1m' %}selected{% endif %} value="1m">месяц</option>
                    <option {% if data.period == '1y' %}selected{% endif %} value="1y">год</option>
                    <option {% if data.period == 'all' %}selected{% endif %} value="all">Весь период</option>
                </select>
                <script>
                    function getPeriod(e){
                        if(e.value !== ''){
                            window.location.href = `/?period=${e.value}`
                        }else{
                            window.location.href = `/`
                        }
                    }
                </script>
            </div>
            <div class="allChannels">
                <div>
                    <h4 style="text-align: start; margin-left: 10px;">Всего 300 каналов</h4>
                    <h4 style="text-align: start; margin-left: 10px;">{{ data.get_channels_info.global_info.channels_count }} каналов в {{ data.get_channels_info.global_info.folders_count }} папках</h4>
                </div>
                    <div class="allFolders">
                        <div class="allFolder">   
                            <h4 >Папки</h4>
                            <h4 style="color: blue;" >ВКЛ</h4>
                            <h4 style="color: #ffbf00">ТЕСТ</h4>
                            <h4 style="color: red" >ВЫКЛ</h4>
                        </div>
                        {% for folder in data.get_channels_info.all_info %}
                            <div class="allFolder">   
                                <h4>{{ folder.folder_name }}</h4>
                                <h4>{{ folder.active }}</h4>
                                <h4>{{ folder.test }}</h4>
                                <h4>{{ folder.deactive }}</h4>
                            </div>     
                        {% endfor %}
                    </div>
                    <div>
                        <h4 style="text-align: start; margin-left: 10px;">Новых каналов - 0</h4>
                        <h4 style="text-align: start; margin-left: 10px;">Удалённых каналов - 0</h4>
                        <h4 style="text-align: start; margin-left: 10px;">В корзине каналов - 10</h4>
                    </div>
                </div>
                <div class="infoBox">
                    <div class="diagrams-box">
                        <div>
                            <h2 style="text-align: start; margin-left: 75px;" >Каналов</h2>
                            <div class="channel-diagram" style="background-image: conic-gradient(yellow 64%, green 64%, green 81%, red 81%);"></div>
                        </div>
                        <div>
                            <h2 style="text-align: start; margin-left: 55px;">Сообщений</h2>  
                            <div class="sms-diagram" style="background-image: conic-gradient(red 64%, green 64%);"></div>
                        </div>
                    </div>

                    <div class="diagram-info">
                        <div class="info-boxes">
                            <p>Сообщений выдано от - {{ data.get_signals_by_period.channels_count }} каналов</p>
                            <p>В тест - {{ data.get_signals_by_period.testing_signals }} </p>
                            <p>В монитор - {{ data.get_signals_by_period.monitoring_signals }} </p>
                            <p>Лонг - {{ data.get_signals_by_period.long_signals_count }} </p>
                            <p>Шорт - {{ data.get_signals_by_period.short_signals_count }} </p>
                        </div>
                        <div class="info-boxes">
                            <p>Каналов - {{ data.get_signals_by_period.channels_count }}</p>
                            <p>Активных - {{ data.get_channels_info.folders_channels_count.active }}</p>
                            <p>Не активных - {{ data.get_channels_info.folders_channels_count.disable }}</p>
                            <p>На тесте - {{ data.get_channels_info.folders_channels_count.test }}</p>
                        </div>
                        <div class="info-boxes">
                            <p>Получено сигналов -  {{ data.get_signals_by_period.monitoring_signals }}</p>
                            <p>Получено тестовых сигналов -  {{ data.get_signals_by_period.testing_signals }}</p>
                            <p>Похожих - {{ data.get_signals_by_period.similar_signals_count + data.get_signals_by_period.similar_test_signals_count }}</p>
                            <p>Одинаковые - {{ data.get_signals_by_period.duplicate_signals_count + data.get_signals_by_period.duplicate_test_signals_count }}</p>
                        </div>
                    </div>
                </div>
                
        </div>
        <div class="activeBox">
            <div class="activeFolders">
                <div class="aFolders">
                    <h5>Все</h5>
                    <h5>{{ data.get_signals_info_by_period.signals_count }}</h5>
                </div>
                {% for folder in data.get_signals_info_by_period.folders_and_signals_count %}
                    <div class="aFolders">
                        <h5>{{ folder.folder_name }}</h5>
                        <h5>{{ folder.signals_count }}</h5>
                    </div>    
                {% endfor %}
            </div>
            <div class="activeChannels">
                    <div class="aachanells">
                        <h5>Дата/время</h5>
                        <h5>Папка</h5>
                        <h5>ID Канала</h5>
                        <h5>Имя Канала</h5>
                        <h5>Кол. сиг.</h5>
                        <h5>COIN</h5>
                        <h5>TREND</h5>
                    </div>
                    <div class="aachanells">
                        <h5>22.05.24 - 18:34</h5>
                        <h5>TEST</h5>
                        <h5>ID Канала</h5>
                        <h5>Имя Канала</h5>
                        <h5>2</h5>
                        <h5>BTC</h5>
                        <h5>LONG</h5>
                    </div>
                    <div class="aachanells">
                        <h5>22.05.24 - 18:34</h5>
                        <h5>TEST</h5>
                        <h5>ID Канала</h5>
                        <h5>Имя Канала</h5>
                        <h5>2</h5>
                        <h5>BTC</h5>
                        <h5>SHORT</h5>
                    </div>
            </div>
            <div class="activeSignals">
                    <div class="one">
                        <h5>Одинаковые</h5>
                        {% for signal in data.get_signals_info_by_period.dublicate_signals %}
                            <h5>{{ signal.count }} {{ signal.coin }} {{ signal.trend }}</h5>
                        {% endfor %}
                    </div>
                    <div class="primere">
                        <h5>Похожие</h5>
                        {% for signal in data.get_signals_info_by_period.similar_signals %}
                            <h5>{{ signal.count }} {{ signal.coin }} {{ signal.trend }}</h5>
                        {% endfor %}
                    </div>
            </div>
        </div>
        <div class="activeBox">
            <div class="activeFolders">
                <div class="aFolders">
                    <h5>Все</h5>
                    <h5>60</h5>
                </div>
                <div class="aFolders">
                    <h5>TEST</h5>
                    <h5>20</h5>
                </div>    
                <div class="aFolders">
                    <h5>RF</h5>
                    <h5>15</h5>
                </div>    
                <div class="aFolders">
                    <h5>PR</h5>
                    <h5>17</h5>
                </div>    
            </div>
            <div class="activeChannels">
                    <div class="aachanells">
                        <h5>Дата/время</h5>
                        <h5>Папка</h5>
                        <h5>ID Канала</h5>
                        <h5>Имя Канала</h5>
                        <h5>Кол. сиг.</h5>
                        <h5>COIN</h5>
                        <h5>TREND</h5>
                    </div>
                    <div class="aachanells">
                        <h5>22.05.24 - 18:34</h5>
                        <h5>TEST</h5>
                        <h5>ID Канала</h5>
                        <h5>Имя Канала</h5>
                        <h5>2</h5>
                        <h5>BTC</h5>
                        <h5>LONG</h5>
                    </div>
                    <div class="aachanells">
                        <h5>22.05.24 - 18:34</h5>
                        <h5>TEST</h5>
                        <h5>ID Канала</h5>
                        <h5>Имя Канала</h5>
                        <h5>2</h5>
                        <h5>BTC</h5>
                        <h5>SHORT</h5>
                    </div>
            </div>
            <div class="activeSignals">
                    <div class="one">
                        <h5>Одинаковые</h5>
                        <h5>2 BTC LONG</h5>
                    </div>
                    <div class="primere">
                        <h5>Похожие</h5>
                        <h5>5 BTC LONG</h5>
                        <h5>6 LINA SHORT</h5>
                    </div>
            </div>
        </div>
    </div>
</div>    
</body>
</html>